<!DOCTYPE html>
<html>
    <head>
        <title>Repl World</title>
    </head>
    <body>
        <div id="main">
            if (!user)
                <p>Please log in!</p>
                <script src="https://auth.turbio.repl.co/script.js" authed='location.reload()'></script>
            else 
                <p> Welcome, #{user.name}! </p>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    
    <canvas id="canvas"></canvas>

    script.
        let CVS = document.getElementById("canvas");
        let CTX = CVS.getContext("2d");
        let socket = io();
        let ID = Math.round(Math.random() * 1000);
        let position = [Math.round(Math.random() * 100), 0];

        function update(players) {
            CTX.clearRect(0, 0, CVS.width, CVS.height);
            
            CTX.fillRect(position[0], position[1], 4, 4);

            if (players == null) { return; }

            console.log(players.keys);
            for(let i = 0; i < players.length; i++) {
                CTX.fillRect(players[players.keys[i]][0], players[players.keys[i]][1], 4, 4);
            }
        }

        function set(dict, key, value) {
            dict[key] = value;
        }

        let data = [ID, position];
        socket.emit("join", (data));
        socket.on("joined", (players) => {
            update(players);
        });

        socket.on("move", (players) => {
            console.log(players);
            update(players);
        });

        document.addEventListener("keydown", (e) => {
            socket.emit("move", (ID, position, [position[0], position[1] + 1]));
            update(null);
        });
</html>