<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        //- This right here is a Pug statement.
        if (!user)
            script
                location.reload()
        
        //- Classic HTML below :P
        <p> Hello, #{user.name}! </p>
        <p id="userid"></p>
        <script src="temp.js"></script>
    </body>
</html>